android/* linguist-documentation
*.java linguist-documentation
*.cpp linguist-documentation
*.c linguist-documentation
*.mm linguist-documentation
*.m linguist-documentation
*.h linguist-documentation
*.mk linguist-documentation
*.bzl linguist-documentation
*.rb linguist-documentation
ios/* linguist-documentation

